body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    display: inline-block;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(-45deg,#F44336,#ffc107);
}
.main::before{
    display: table;
    content: '';
    clear: both;
}
#bgm-control{
    position: absolute;
    top: 20px;
    right: 16px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    background: radial-gradient(#FFEB3B,#FFA000);
    color: #fff;
    font-size: 18px!important;
    font-weight: 800;
    text-shadow: 1px 1px 4px #F44336;
}

.player{
    animation: musicControl linear 6s infinite;
}

.box-sizing{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-bocx-sizing:border-box;
}
.title{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    color: #FFEB3B;
    text-shadow: 4px 2px 5px #f44336;
    margin-top: 20px;
}
.carousel-box{
    position: relative;
}
.btn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(circle,#ffeb3b ,#FF9800);
    color: red;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    border: 6px solid red;
    font-weight: 800;
    z-index: 5;
    box-sizing: border-box;
}
.btn-scale-animate{
    animation: btnScale .6s ease-in-out;
}
.carousel-box::after{
    position: absolute;
    content: '';
    display: block;
    height: 75px;
    width: 30px;
    background:red;
    -webkit-clip-path:polygon(50% 0px,100% 100%,0px 100%);
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    z-index: 4;
}

.carousel-content{
    padding: 20px 15px;
    box-sizing: border-box;
}
.carousel-content>.carousel-hd{
    /* margin-bottom: 20px; */
    font-size: 14px;
}
.carousel-content>.carousel-hd>span{
    border: 1px solid #fff;
    border-radius:6px;
    padding: 4px 10px;
    color: #fff;
    display: inline-block;
}
.carousel-content>.carousel-item{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255,255,255,.2);
    display: none;
}

/* 按钮缩放 */
@keyframes btnScale{
    0%{
        transform:translate(-50%,-50%) scale(1);
    }
    40%{
        transform:translate(-50%,-50%) scale(0.85);
    }
    100%{
        transform:translate(-50%,-50%) scale(1);
    }
}

/* 音乐控件 */
@keyframes musicControl{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}